[user]
	email = kushagrakarira@gmail.com
	name = Kushagra Karira
	signingkey = 1F03DAF93C576E12

[color]
	diff = true
	status = true
	branch = true
	interactive = true
	ui = true
	pager = true
[credential]
	helper = store
[pull]
	rebase = true
[core]
	attributesfile = ~/.gitattributes
[diff "image"]
	command = compare $2 $1 png:- | montage -geometry +4+4 $2 - $1 png:- | display -title \"$1\" -
[commit]
	gpgsign = true
